<div class="header">
  <div class="divClickable" routerLink="/Accueil" routerLinkActive="active">
    <p>Accueil</p>
  </div>
  <div class="separHeader"></div>
  <div class="divClickable" routerLink="/CFD" routerLinkActive="active">
    <p>Indices CFD</p>
  </div>
  <div class="separHeader"></div>
  <div class="divClickable" routerLink="/Futures" routerLinkActive="active">
    <p>Indices Futures</p>
  </div>
  <div class="separHeader"></div>
  <div class="divClickable" routerLink="/Actions" routerLinkActive="active">
    <p>Actions</p>
  </div>
  <div class="separHeader"></div>
  <div class="divClickable" routerLink="/Matieres" routerLinkActive="active">
    <p>Matieres</p>
  </div>
</div>