<div>

  <div class="leftPart">
    <div class="nondisp listeIndices">
      <div class="listTitle"><p>Liste des indices</p></div>

      <ng-template ngFor let-pays [ngForOf]="datas[1]">
        <div class="divClickable divPays" [ngClass]="{'selectedPays':indiceSelected.pays==pays[0]}" (click)="paysclicked[pays[0]]=!paysclicked[pays[0]]">
          <p>{{pays[1]}}</p>
        </div>
        <div class="nondisp" [@openClose]="paysclicked[pays[0]]? 'open' : 'closed'">
          <ng-template ngFor let-indice [ngForOf]="getIndices(pays[0])">
            <div class="divClickable divIndice"  [ngClass]="{'selectedIndice':indiceSelected==indice}" (click)="clickIndice(indice)">
              <p>{{indice.nom}}</p>
            </div>
          </ng-template>
        </div>
      </ng-template>
      <!--<ng-template ngFor let-indice [ngForOf]="datas[0]">
        <div class="divClickable divIndice" [ngClass]="{'selectedDiv':indice.nom==indiceSelected.nom}" (click)="clickIndice(indice)">
          <p>{{indice.nom}}</p>
        </div>
      </ng-template>-->
    </div>
  </div>

  <div class="body nondisp">
    <div class="nondisp" *ngIf="chartDatasets!=undefined&&chartLabels!=undefined">

      <div>
        <input *ngFor="let time of times;let i=index" type="button" [value]="time" [ngClass]="{'selectedDiv':timeSelected==time,'disabledDiv':i==3&&numbers[0][1]==0}" 
        (click)="!(i==3&&numbers[0][1]==0)?changeTime(time):false" />
      </div>

      <div class="separBottom"></div>

      <div class="nondisp">

        <div class="chartTitle">
          <p>{{indiceSelected.nom}} - {{timeSelected}}</p>
        </div>

        <div>
          <div class="graphiqueIndices">
            <canvas  mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [options]="chartOptions"></canvas>
          </div>
        </div>

        <div>
          <div class="chartStats nondisp">
            <div>
              <div><p>Values shown</p></div>
              <div><p>{{chartDatasets[0].data.length}}</p></div>
            </div>
            <div>
              <div><p>{{timeSelected}} maximum</p></div>
              <div><p>{{maxVal}}</p></div>
            </div>
            <div>
              <div><p>{{timeSelected}} minimum</p></div>
              <div><p>{{minVal}}</p></div>
            </div>
            <div>
              <div><p>{{timeSelected}} start</p></div>
              <div><p>{{chartLabels[0]}}</p></div>
            </div>
          </div>

          <div class="chartStats nondisp">
            <div *ngFor="let number of numbers">
              <div><p>{{number[0]}}</p></div>
              <div><p>{{number[1]}}</p></div>
            </div>
          </div>

          <div class="chartStats nondisp">
            <div>
              <div><p>Last value</p></div>
              <div><p>{{chartLabels[chartLabels.length-1]}}</p></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>